<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Locação de Veículo</title>
<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>
	<div class="container my-2">
		<h2>Seja Bem vindo!</h2>
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Veículos</h4>
					</div>
					<div class="card-body">
						<ul class="list-unstyled mt-3 mb-4">
							<li>Controle de Veículos</li>
						</ul>
						<a class="w-100 btn btn-lg btn-primary"
							th:href="@{/veiculos/carros}">Acessar</a>
					</div>
				</div>
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<div class="col">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 fw-normal">Clientes</h4>
						</div>
						<div class="card-body">
							<ul class="list-unstyled mt-3 mb-4">
								<li>Controle de Clientes</li>
							</ul>
							<a class="w-100 btn btn-lg btn-primary" th:href="@{/cliente}">Acessar</a>
						</div>
					</div>
				</div>
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<div class="col">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 fw-normal">Funcionários</h4>
						</div>
						<div class="card-body">
							<ul class="list-unstyled mt-3 mb-4">
								<li>Controle de Funcionários</li>
							</ul>
							<a class="w-100 btn btn-lg btn-primary" th:href="@{/funcionario}">Acessar</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Locações</h4>
					</div>
					<div class="card-body">
						<ul class="list-unstyled mt-3 mb-4">
							<li>Controle de Locações</li>
						</ul>
						<a class="w-100 btn btn-lg btn-primary" th:href="@{/locacoes}">Acessar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>