<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Sistema de Locadora de Veículos</title>

<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
	<header th:insert="fragments/geral.html :: header"></header>

	<div class="container my-2">
		<h2>Locações</h2>
		<br>
		<form action="#" th:action="@{/locacoes/salvar}"
			th:object="${locacao}" method="POST">
			<div class="form-group">
				<label for="exampleInputEmail1">Inicio Locação</label> <input
					type="hidden" id="id" th:field="*{id}"> <span
					th:if="${#fields.hasErrors('inicioLocacao')}"
					th:errors="inicioLocacao" class="text-danger"></span> <input
					type="date" th:field="*{inicioLocacao}"
					placeholder="Inicio Locação" class="form-control mb-4 col-4">
			</div>
			<span th:if="${#fields.hasErrors('fimLocacao')}"
				th:errors="inicioLocacao" class="text-danger"></span>
			<div class="form-group">
				<label for="exampleInputEmail1">Fim Locação</label> <input
					type="date" th:field="*{fimLocacao}" placeholder="Fim Locação"
					class="form-control mb-4 col-4">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Carro</label> <select
					th:field="*{carro}" class="form-control mb-4 col-4">
					<option th:each="carro: ${carros}" th:value="${carro.id}"
						th:text="${carro.nome}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Cliente</label> <select
					th:field="*{cliente}" class="form-control mb-4 col-4">
					<option th:each="cliente: ${clientes}" th:value="${cliente.id}"
						th:text="${cliente.nome}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Status</label> <select
					th:field="*{status}" class="form-control mb-4 col-4">
					<option value="Locado">Locado</option>
					<option value="Devolvido">Devolvido</option>
				</select>
			</div>
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>


		<!-- 		<form action="#" th:action="@{/locacoes/salvar}" th:object="${locacao}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
			<input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">
      		
      		<span th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}" class="text-danger"></span>
      		<input type="text" th:field="*{placa}" placeholder="Placa" class="form-control mb-4 col-4">
      		
      		<input type="date" th:field="*{dataAquisicao}" placeholder="Data de Aquisição" class="form-control mb-4 col-4">
      		
      		<span th:if="${#fields.hasErrors('cor')}" th:errors="*{cor}" class="text-danger"></span>
      		<input type="text" th:field="*{cor}" placeholder="Cor" class="form-control mb-4 col-4">
      		
      		<span th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}" class="text-danger"></span>
			<input type="text" th:field="*{ano}" placeholder="Ano" class="form-control mb-4 col-4">
      		
      		<span th:if="${#fields.hasErrors('quilometragem')}" th:errors="*{quilometragem}" class="text-danger"></span>
      		<input type="text" th:field="*{quilometragem}" placeholder="Quilometragem" class="form-control mb-4 col-4">
      		
			<button type="submit" class="btn btn-info col-2">Salvar</button> -->
		<hr>
		<a th:href="@{/veiculos/carros}">Retornar para a lista de locações</a>
	</div>
</body>
</html>